body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

p {
    padding: 0;
    margin: 0;
    }

input {
    font-family: inherit;
    padding: 0;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
    /*Header*/


.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}

@media screen and (min-width:768px) {
    .logo {
        margin-right: 120px;
    }
}

@media screen and (min-width:1158px) {
    .logo {
        margin-right: 76px;
    }
}

.logo-item {
    color: #2e2f42;
}

.header-list {
    display: none;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .header-list {
        display: flex;
    }
}

.header-link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:active,
.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.page {
    position: relative;
    color: #404bbf;
}

.page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.address {
    font-style: normal;
    margin-bottom: 48px;
}

@media screen and (min-width:768px) {
    .address {
        margin-bottom: 0;
    }
}

.container-address {
    display: none;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .container-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex-wrap: wrap;
        align-items: center;
    }

}

@media screen and (min-width:1158px) {
    .container-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}

.address-link {
    display: block;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .address-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width:1158px) {
    .address-link {
        font-size: 16px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }
}

.address-link:active,
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.menu-btn-open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    padding: 16px 0;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .menu-btn-open {
        display: none;
    }
}
            /*Mobile menu*/

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    width: 320px;
    min-height: 640px;
    padding: 72px 24px 40px 16px;
}

.mob-menu.is-open {
    transform: translatey(0);
}

@media screen and (min-width:768px) {
    .mob-menu {
        display: none;
    }
}

.menu-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-close:hover,
.menu-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.menu-btn-close:hover .icon-close,
.menu-btn-close:focus .icon-close {
    fill: #ffffff;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto
}

.menu-nav-item {}

.menu-nav-item:first-child .menu-nav-link {
    color: #404BBF;
}

.menu-nav-link {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link:hover,
.menu-nav-link:active,
.menu-nav-link:focus {
    color: #404BBF;
}


.menu-adrs-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
}

.menu-adrs-item:last-child .menu-adrs-link {
    color: #404BBF;
}

.menu-adrs-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-soc-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu-soc-item {}


.menu-soc-link {
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


    /*Main Sectionn hero*/

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/background-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-mob-2x.jpg);
    }
}

@media screen and (min-width:768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-tablet-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/background-tablet-2x.jpg);
        }
    }
}

@media screen and (min-width:1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/background-desktop-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/background-desktop-2x.jpg);
        }
    }
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 217px;
    margin: 0 auto 72px;
}

@media screen and (min-width:768px) {
    .hero-title {
        font-size: 56px;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

@media screen and (min-width:1158px) {
    .hero-title {
        margin: 0 auto 48px;
    }
}

.hero-order-btn {
    display: block;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-btn:active,
.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #404BBF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Secton One*/

.section {
    padding: 96px 0;
    
}

@media screen and (min-width:1158px) {
    .section {
        padding: 120px 0;
    }
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.goals-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width:768px) {
    .goals-ul {
        gap: 72px 24px;
    }
}

@media screen and (min-width:1158px) {
    .goals-ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}

.goals-item {
    width: 100%;
}

@media screen and (min-width:768px) {
    .goals-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px) {
    .goals-item {
        width: calc((100% - 72px) / 4);
    }
}

.icon-container {
    display: none;
}

@media screen and (min-width:1158px) {
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
    }
}

.goals-icon {
    fill: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-container {
    display: none;
}
    
@media screen and (min-width:1158px) {
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
    }
}

.goals-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

@media screen and (min-width:768px) {
    .goals-title {
        text-align: left;
    }
}

@media screen and (min-width:1158px) {
    .goals-title {
        font-size: 20px;
        font-weight: 500;
    }
}

.goals-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width:1158px) {
    .goals-text {
        font-weight: 400;
    }
}
/* Section Team*/

.container-team {
    max-width: 320px;
    padding-left: 28px;
    padding-right: 28px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container-team {
        max-width: 584px;
    }
}

@media screen and (min-width:1158px) {
    .container-team {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.section-team {
    background-image: linear-gradient(to bottom, rgba(244, 244, 253, 1), rgba(244, 244, 253, 1));
    padding: 96px 0;
}


.team-ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width:768px) {
    .team-ul {
        gap: 64px 24px;
    }
}

@media screen and (min-width:1158px) {
    .team-ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}

.container-text {
    padding: 32px 0;
    text-align: center;
}

.team-item {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width:768px) {
    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px) {
    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

.team-list {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link-soc {
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-soc:hover,
.link-soc:focus {
    background-color: #404BBF;
}

.icon {
    fill: #f4f4fd;
}

/* Section Portfolio*/

.container-portfolio-list {
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .container-portfolio-list {
        gap: 72px 24px;
    }
}

@media screen and (min-width:1158px) {
    .container-portfolio-list {
        gap: 48px 24px;
    }
}

.portfolio-item {
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .portfolio-item {
        width: calc((100% - 24px) / 2);

    }
}

@media screen and (min-width:1158px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .portfolio-item:nth-child(5) {
        box-shadow: none;
    }
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #F4F4FD;
    padding: 40px 32px;
}

.portfolio-img {
    width: 100%;
}

.portfolio-item:hover .overlay {
    transform: translatey(0);
}

.portfolio-list {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.portfolio-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

    /* Footer*/

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
    position: relative;
}

@media screen and (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .container-footer {
        width: 584px;
        justify-content: left;
    }
}

@media screen and (min-width:1158px) {
    .container-footer {
        min-width: 1158px;
        gap: 0;
    }
}

@media screen and (min-width:1158px) {
    .footer-logo-box {
        margin-right: 120px;
    }

    .footer-social {
        margin-right: 80px;
    }
}

.footer-logo {
    display: block;
    text-align: center;
    margin: 0 auto 16px;
}

@media screen and (min-width:768px) {
    .footer-logo {
        display: block;
        text-align: left;
    }
}

.logo-item-footer {
    color: #F4F4FD;
}

.footer-descr {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

@media screen and (min-width:768px) {
    .footer-descr {
        width: 264px;
    }
}


.footer-media {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .footer-media {
        text-align: left;   
    }
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.link-soc-footer {
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-soc-footer:hover,
.link-soc-footer:focus {
    background-color: #31d0aa;
}


.footer-icon {

}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width:768px) {
    .form-footer {
        gap: 24px;
    }
}

.form-input {
    width: 288px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

@media screen and (min-width:768px) {
    .form-input {
        width: 264px;
    }
}

.form-input::placeholder {
    color: #FFFFFF;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.icon-send {
    fill: #f4f4fd;
    margin-left: 16px;
}

                /*modal*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.is-hidden {

}

.modal {
    max-width: 288px;
    min-height: 632px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .modal {
        max-width: 408px;
        min-height: 584px;
        padding: 72px 25px 24px 23px;
    }
}

@media screen and (min-width:1158px) {
    .modal {
        padding: 72px 24px 24px 24px;
    }
}

.modal-btn-close {
    position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background-color: #E7E9FC;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
    fill: #ffffff;
}

.form-modal {
    margin-bottom: 8px;

}

.form-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.input-text {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 34px;
    outline: transparent;
}

@media screen and (min-width:1158px) {
    .input-text {
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-text:focus {
        border-color: #4D5AE5;
    }

    .input-text:focus+.input-icon {
        fill: #4D5AE5;
    }
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.textarea-wrap {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.40);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;

}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);

}

.check-wrap {
    margin-bottom: 24px;
}

.check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.icon-click {
    fill: #F4F4FD;
}

.check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+.check-text>.check {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.basic-button {
display: block;
background-color: #4D5AE5;
color: #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
cursor: pointer;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    color: #4D5AE5;
}
